# Virtual Environment
venv/
env/
.env/
.venv/
ENV/

# Specific large files
gpt_visualizer/backend/venv/Lib/site-packages/torch/lib/torch_cpu.dll
gpt_visualizer/backend/venv/Lib/site-packages/torch/lib/dnnl.lib

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store